<div class="jumbotron">
    <div class="home container text-center">
      <h1>Welcome to Beats App!</h1>
      <p>Register to start finding and selling funky fresh beats.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
